<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}ONGR Translations{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('bundles/ongrtranslations/css/ongr-translations.css') }}"/>
    {% endblock %}
</head>
<body {% block body_attr -%}{%- endblock -%}>
{% block body -%}
    {%- block topbar -%}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('ongr_translations_list_page') }}">ONGR Translations</a>
                </div>
                {% if filters_manager is defined %}
                <div class="collapse navbar-collapse pull-right">
                    {% import 'ONGRTranslationsBundle:macros:filters.html.twig' as filter_macros %}
                    {% block filters %}
                        {{ filter_macros.dropdown(filters_manager.filters.status, true) }}
                        {{ filter_macros.dropdown(filters_manager.filters.tag, true) }}
                        {{ filter_macros.dropdown(filters_manager.filters.locale, true) }}
                        {{ filter_macros.dropdown(filters_manager.filters.missing_locale, true) }}
                        {{ filter_macros.dropdown(filters_manager.filters.domain, true) }}
                        {{ filter_macros.dropdown(filters_manager.filters.sort, false) }}
                    {% endblock %}

                    {% block search %}
                        {% if filters_manager.filters.search is defined %}
                            <form action="?" method="GET" class="navbar-form navbar-left" role="search">
                                <div class="input-group">
                                        <span class="input-group-btn">
                                            {% if filters_manager.filters.search.state.active %}
                                                <a href="{{ path('ongr_translations_list_page', filters_manager.filters.search.resetUrlParameters) }}" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                                            {% endif %}
                                            <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                                        </span>
                                    <input type="text" class="form-control" name="q" size="24" value="{% if filters_manager.filters.search.state.value is not empty %}{{ filters_manager.filters.search.state.value }}{% endif %}" placeholder="{% trans from 'ONGRTranslations' %}placeholder.search_for{% endtrans %}">
                                </div><!-- /input-group -->
                            </form>
                        {% endif %}
                    {% endblock %}

                    <div class="navbar-left navbar-btn">
                        <button class="btn btn-primary" ng-click="openExportModal()" >Export</button>
                    </div>
                </div><!-- /.navbar-collapse -->
                {% endif %}
            </div><!-- /.container-fluid -->
        </nav>
    {%- endblock -%}
    {%- block content %}{% endblock -%}
    {%- block footer_javascript %}
    {%- endblock %}
{% endblock %}
</body>
</html>
