{% extends 'ONGRTranslationsBundle::layout1.html.twig' %}

{% block content %}
    <div tabindex="0" class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-hover translations-table">
                    <thead>
                        <tr>
                            <th>{% trans from 'ONGRTranslations' %}label.domain{% endtrans %}</th>
                            <th>{% trans from 'ONGRTranslations' %}label.key{% endtrans %}</th>
                            {% for locale, active in locales %}
                                {% if active %}
                                    <th>{{ locale }}</th>
                                {% endif %}
                            {% endfor %}
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody class="urls" history-url="{{ path('ongr_translations_api_history') }}" edit-url="{{ path('ongr_translations_api_edit') }}">
                        {% for translation in data %}
                            <tr class="pointer" id="{{ translation.id }}">
                                <td width="10%" class="domain-holder">
                                    {{ translation.domain }}
                                </td>
                                <td width="20%">{{ translation.key }}</td>
                                {% for locale, active in locales %}
                                    {% if active %}
                                        {% set isset = 0 %}
                                                {% for message in translation.getMessages() %}
                                                    {% if message.locale == locale %}
                                                        <td>
                                                            <a class="translation-message" translation="trans" locale="{{ locale }}" key="{{ translation.key }}">
                                                            {{ message.message }}
                                                        {% set isset = 1 %}
                                                    {% elseif loop.last and isset == 0%}
                                                        <td class="bg-danger">
                                                            <a class="translation-message" translation="trans" locale="{{ locale }}" key="{{ translation.key }}">
                                                            Empty field
                                                    {% endif %}
                                                {% endfor %}
                                            </a>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                                <td>
                                    <a href="{{ path('ongr_translations_translation_page', {'translation': translation.key, 'domain': translation.domain}) }}">
                                        <button class="btn btn-default" type="button">
                                            <i class="glyphicon glyphicon-cog"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if filters_manager.filters.pager is defined %}
                    <div class="text-center">{{ ongr_paginate(filters_manager.filters.pager.pager, 'ongr_translations_list_page', filters_manager.filters.pager.getUrlParameters()) }}</div>
                    <div class="clearfix"></div>
                {% endif %}
            </div>
        </div>
    </div>
    {#{{ dump(filters_manager) }}#}
    {% include 'ONGRTranslationsBundle::includes/historyModal.html.twig' %}
{% endblock %}

{% block footer_javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/ongrtranslations/js/ongr_translations.js') }}"></script>
{% endblock %}
