{% extends 'ONGRTranslationsBundle::layout.html.twig' %}

{% block body_attr %}ng-app="ongr.translations"{% endblock %}

{% block content %}
    <div class="container" ng-controller="list">
        <div class="row">
            <div class="col-lg-12">
                {#filters#}
            </div>
            <div class="col-lg-12">
                {% verbatim %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Domain</th>
                                <th>Key</th>
                                <th>Locale</th>
                                <th>Message</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="trans in translations">
                                <td>{{ trans.domain }}</td>
                                <td>{{ trans.key }}</td>
                                <td>{{ trans.locale }}</td>
                                <td ng-dblclick="edit()">
                                    <input editable disabled class="form-control"
                                           ng-model="trans.message" ng-keydown="keyPress($event)"
                                           value="{{ trans.message }}">
                                </td>
                                <td>
                                    <button ng-click="save()" class="btn btn-default">Save</button>
                                    <button ng-click="close()" class="btn btn-default">Close</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                {% endverbatim %}
                {% if filters_manager.filters.pager is defined %}
                    <div class="text-center">{{ paginate(filters_manager.filters.pager.pager, 'ongr_translations_list_page', filters_manager.filters.pager.getUrlParameters()) }}</div>
                    <div class="clearfix"></div>
                {% endif %}
            </div>
        </div>
    </div>
    {#{{ dump(filters_manager) }}#}
{% endblock %}

{% block footer_javascript %}
    <script type="text/javascript">
        var translations = {{ data | json_encode | raw }};
    </script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('bundles/ongrtranslations/js/controller/listController.js') }}"></script>
    <script src="{{ asset('bundles/ongrtranslations/js/app-translations.js') }}"></script>
    {{ parent() }}
{% endblock %}
