{% extends 'ONGRTranslationsBundle::layout.html.twig' %}

{% block body_attr %}ng-app="ongr.translations"{% endblock %}

{% block content %}
    <div class="container" ng-controller="list">
        <div class="row">
            <div class="col-lg-12">
                {#filters#}
            </div>
            <div class="col-lg-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{% trans from 'ONGRTranslations'%}label.domain{% endtrans %}</th>
                            <th>{% trans from 'ONGRTranslations'%}label.group{% endtrans %}</th>
                            <th>{% trans from 'ONGRTranslations'%}label.key{% endtrans %}</th>
                            <th>{% trans from 'ONGRTranslations'%}label.locale{% endtrans %}</th>
                            <th>{% trans from 'ONGRTranslations'%}label.message{% endtrans %}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% verbatim %}
                        <tr ng-repeat="trans in translations">
                            <td>{{ trans.domain }}</td>
                            <td width="40%">
                                <div inline translation="trans" field="group"></div>
                            </td>
                            <td>{{ trans.key }}</td>
                            <td>{{ trans.locale }}</td>
                            <td width="40%">
                                <div inline translation="trans" field="message"></div>
                            </td>
                        </tr>
                    {% endverbatim %}
                    </tbody>
                </table>
                {% if filters_manager.filters.pager is defined %}
                    <div class="text-center">{{ paginate(filters_manager.filters.pager.pager, 'ongr_translations_list_page', filters_manager.filters.pager.getUrlParameters()) }}</div>
                    <div class="clearfix"></div>
                {% endif %}
            </div>
        </div>
    </div>
    {#{{ dump(filters_manager) }}#}
{% endblock %}

{% block footer_javascript %}
    <script type="text/javascript">
        var translations = {{ data | json_encode | raw }};
    </script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ asset('bundles/ongrtranslations/js/controller/listController.js') }}"></script>
    <script src="{{ asset('bundles/ongrtranslations/js/directive/InlineDirective.js') }}"></script>
    <script src="{{ asset('bundles/ongrtranslations/js/utils/AssetService.js') }}"></script>
    <script src="{{ asset('bundles/ongrtranslations/js/app-translations.js') }}"></script>
    {{ parent() }}
{% endblock %}
